* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #92B4F4;
}

header {
  background-color: #5E7CE2;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  width: 100%;
}

a:hover {
  color: white;
}

a {
  text-decoration: none;
  padding: 0px 15px 0px 20px;
  color: black;
}

main{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

footer{
  background-color: #5E7CE2;
  height: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100%;
  display: flex;
  text-align: center;
}


.container {
  background-color: rgba(0, 0, 0, 0.228);
  padding: 20px 20px;
  margin: 80px 0px 10px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.container a:hover{
  color: white;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: rgba(0, 0, 0, 0.101);
  padding: 15px;
  font-family: inherit;
  font-size: 25px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 20px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px black solid;
  width: 125%;
  padding: 15px 0;
  font-size: 18px;
  color: black;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: black;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: black;
  transform: translateY(-30px);
}

button{
  cursor: pointer;
  background:rgba(0, 0, 0, 0.101);
  padding: 15px;
  font-family: inherit;
  font-size: 25px;
  border: 0;
  border-radius: 5px;
  margin: 5px;
}

button:focus {
  outline: 0;
}

button:active {
  transform: scale(0.98);
}


input{
  padding: 15px;
  font-size: 25px;
  background-color:rgba(0, 0, 0, 0.101) ;
  border: 0;
  border-radius: 5px;
  outline: 0;
}

label{
  font-size: 25px;
  font-weight: bold;
}

footer a {
  padding: 0px 1px 0px 2px;
}
