* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #92B4F4;
}

header {
  background-color: #5E7CE2;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  width: 100%;
}

a:hover {
  color: white;
}

a {
  text-decoration: none;
  padding: 0px 15px 0px 20px;
  color: black;
}

main{
  font-size: 20px;
  margin: 20px 30px;
}

footer{
  background-color: #5E7CE2;
  height: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100%;
  display: flex;
  text-align: center;
}
