<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <title>Home</title>
</head>

<body>
  <header>
    <h2> <a href="{{url_for('movies')}}">Movie Recommendation</a></h2>
    <div class="rh">
      <a href="{{url_for('home')}}">Home</a>
      <a href="{{url_for('about')}}">About</a>
      <a href="{{url_for('projectsynopsis')}}">Project synopsis</a>
    </div>
  </header>

  <main>
    <h2>
      <p>Welcome To The Project To Continue Please Register Yourself:</p><br>
      <center><a href="{{url_for('register')}}">Register</a>
    </h2>
    </center>
  </main>
  <footer>
    <p> &#169; All Rights Reserverd</p>
  </footer>

</body>

</html>